[2019-06-20 13:11] tomekkorbak opened #7 "Callback API for Trainer"
I really love the library, find it extremely well-designed and started using it for some of my own research. One thing that bothers me is lack of extensibility of trainer with respect to monitoring  and learning rate scheduling. I'm thinking, for instance, custom monitors and loggers other than Tensorboard. The `_message` function in `core.Trainer.train` is not accessible outside of the `train` me

[2019-06-20 13:52] eugene-kharitonov commented on #7
Hello @tomekkorbak! Learning rate scheduling and other loggers is not something on our short-term list, but indeed this could be useful.
A PR will be absolutely welcome, however, it would be nice if we could discuss the API changes before an actual PR.

[2019-06-26 18:15] tomekkorbak commented on #7
Thanks for your reply, @eugene-kharitonov. I thought about something along these lines
[code]

It more or less mirrors callback APIs in fastai and Keras, enabling plugging in reusable code snippets for monitoring and logging.

The `core.Trainer.train` method would have to be rewritten to call these methods for each callback:
[code]

I would move some of the logic currently found in `train` (early

[2019-06-27 15:13] eugene-kharitonov commented on #7
Awesome, thank you so much for a such a detailed proposal! Please give me a day or two to find time for a proper reply.

[2019-07-05 13:17] eugene-kharitonov commented on #7
@tomekkorbak sorry for a late reply.
Indeed, sounds clean and nice. Do you want to implement that yourself or should I do that?

[2019-07-06 14:16] tomekkorbak commented on #7
@eugene-kharitonov, I'm glad you liked the API. Sure, I'd be happy to prepare a pull request (at least with the API itself, see below).

One thing that needs to be discussed is how to partition these changes into pull requests. Implementing the API (i.e. abstract class `Callback` and changes in the `Trainer` class) is one thing and rewriting some of the existing features (early stopping, snapshott

[2019-07-09 08:45] eugene-kharitonov commented on #7
Hey, I think EGG is small enough so it's should be huge change and both ways are fine to mine. Just bear in mind that some implemented games use early stopping :)

[2019-07-10 14:24] tomekkorbak commented on #7
Great, I think I could work on that next week!

[2019-07-16 13:48] tomekkorbak commented on #7
I've opened a pull request and I'm looking forward to hear your feedback, @eugene-kharitonov!

[2019-07-31 16:00] tomekkorbak commented on #7
I've just opened #17, which completes implementing the functionality mentioned above. This is why I'm closing this issue.

[2019-07-31 16:00] #7 closed

[2019-07-31 18:12] tomekkorbak opened #18 "Bugs in objects game"
I found two bugs in the objects game:

1. Temperature updating does not work, because the `callback` variable is assigned a `None` here.
https://github.com/facebookresearch/EGG/blob/f0c3a70c26cd1c23a24f853189ac0d40687f3478/egg/zoo/objects_game/train.py#L171-L183

#17 will fix this.

2. `_fill_split` falls into infinite loop for some inputs, e.g. `perceptual_dimensions = [10, 10]`.
https://github.c

[2019-07-31 20:10] eugene-kharitonov commented on #18
cc @robertodessi

[2019-08-01 09:50] robertodessi commented on #18
Hey @tomekkorbak , thanks for working on EGG.

Re 2), what {train|valid|test} split sizes are you using?

[2019-08-01 13:13] tomekkorbak commented on #18
@robertodessi, I used the default, i.e. 100000/1000/1000. I can now see the reason: there simply wasn't enough combinations to populate a dataset with size pre-defined to 100000. So it's my fault, I guess. (Although an AssertionError preventing the infinite loop would be nice).

[2019-08-01 13:26] robertodessi commented on #18
I thought I had it but apparently is not working as expected

https://github.com/facebookresearch/EGG/blob/f0c3a70c26cd1c23a24f853189ac0d40687f3478/egg/zoo/objects_game/features.py#L127

so thanks for spotting it.

Feel free to fix this in the PR, otherwise I could look into it next week.
I should be updating the game with a slightly better version that I'm currently using but I don't think it wil

[2019-08-01 13:29] robertodessi commented on #18
I realized it should be as easy as swapping these two lines, my bad.

https://github.com/facebookresearch/EGG/blob/f0c3a70c26cd1c23a24f853189ac0d40687f3478/egg/zoo/objects_game/features.py#L126-L128

we should first do the check and then generate the tuples right?! :-)

[2019-08-04 17:09] robertodessi commented on #18
#19 fixes the assertion error.
Thanks for spotting it.

[2019-08-04 17:35] tomekkorbak commented on #18
I'm glad I could help!

[2019-08-04 17:35] #18 closed

[2019-08-07 06:54] Abhik1998 opened #26 "GUI for ECG"
Can we get up with a GUI so that game developers can easily use this especially the Windows users?
It's just an idea and we can discuss that.

[2019-08-08 08:46] eugene-kharitonov commented on #26
Hello! Thank you for having a look at EGG.

The "games" we currently have are not really visual and are very centered around sending sequences of symbols/strings/messages. I am not sure those would benefit from a real GUI or would be interesting to look at...

[2019-08-08 09:19] Abhik1998 commented on #26
Okay actually I wanted to join your team and contribute to ECG

[2019-08-09 08:54] eugene-kharitonov commented on #26
Thanks!
Let me think of some issues that would be easy to start with?

[2019-08-09 08:56] Abhik1998 commented on #26
Okay sir

[2019-08-09 14:55] #26 closed

[2019-09-05 13:39] backpropper opened #31 "Assuming message length equal to the sequence length?"
Do you assume here that the input/output sequence length is the same as the message length? or bounded by it

https://github.com/facebookresearch/EGG/blob/0fddad39b934c0c5c0f5871c50346a3ea4b01629/egg/core/gs_wrappers.py#L263

[2019-09-05 16:33] backpropper opened #32 "how about using a Straight Through estimator?"
https://github.com/facebookresearch/EGG/blob/0fddad39b934c0c5c0f5871c50346a3ea4b01629/egg/core/gs_wrappers.py#L210

[2019-09-05 16:40] eugene-kharitonov commented on #32
Hello @backpropper , thanks for a suggestion!

Yes, we should have ST GS, I think adding it would be easy and I even have it somewhere in my private branches. It was not a huge priority so far, as (I think) it was never reported to be performing considerably better than non-ST GS (eg by Havrylov & Titov or in the original GS paper).

I'll add it next week - or free feel to add it yourself!

[2019-09-05 17:04] eugene-kharitonov commented on #31
Thanks giving a look!

Yes, `max_len` only upper-bounds the number of symbols transmitted. It is possible that the <eos> is generated before `max_len` is reached, or vice-versa.

In training mode with GS it is even more tricky, as each produced "symbol" generally will have non-zero prob. of being <eos>, so we have to unroll until `max_len` is reached.

Hope that helps?

[2019-09-05 17:20] backpropper commented on #31
Thanks for the explanation! My concern was why can it not be the case when the number of symbols be more than `max_len`?

[2019-09-05 17:50] rahmacha commented on #31
Hi, thanks again for your interest. Just I am not sure I understand fully your question; are you asking about the message's symbols, and why we don't go further than max_len to read these symbols? Thanks!

[2019-09-05 18:07] backpropper commented on #31
I guess eugene referred 'symbols' to the output tokens. So I used that terminology too. I'm just saying that why decoding the output tokens is dependent on the length of the message produced. They should be separate right? As in you encode the received message first and then decode for any length?

[2019-09-09 02:24] backpropper opened #33 "a bug in eos loss calculation?"
Isn't the step loss calculated the first time the agent produces an eos token? and then everything after that is masked.
What this is doing is checking if eos was emitted in just the last timestep.

https://github.com/facebookresearch/EGG/blob/0fddad39b934c0c5c0f5871c50346a3ea4b01629/egg/core/gs_wrappers.py#L350

[2019-09-09 02:31] backpropper commented on #31
Oh I see. I thought the receiver should be a seq2seq model but the output is not sequential since you predict all the features of the output at once. It makes sense now.

[2019-09-09 02:31] #31 closed

[2019-09-09 02:37] backpropper commented on #32
It's not really clear that non-ST GS always performs better especially in environments which involve variable length. Some recent works have used ST-GS with the other benefit of not having to unroll till max_len since its no longer continuous.

[2019-09-10 03:36] feipenghe opened #34 "Signal Game: conflicting option string"
Hi, I am totally new to this project and I encountered an issue when I try to run signal_game.train. The issue remains even after I specify vocabulary size. Can anybody give me some instructions?

`(env) pengfeihe@D-10-18-202-82 EGG-master % python -m egg.zoo.signal_game.train
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/runpy.py", line

[2019-09-10 08:57] #34 closed

[2019-09-10 08:58] eugene-kharitonov commented on #34
Hello @feipenghe , thanks for reporting the issue. I believe it should be fixed now.

But note that this game does not come with a dataset, so it might be not the best game for getting started...

[2019-09-10 09:00] eugene-kharitonov commented on #32
Oh, interesting, thanks! Could you share a reference?
Yes, we probably should have that, too.

[2019-09-10 10:14] eugene-kharitonov commented on #33
The logic we wanted to have is to get the expected loss as a sum of over all steps upto max_len
P(eos | step) * P(no eos happened before| step) * Loss(step)
P(no eos happened before| step=0) = 1
P(no eos happened before| step + 1) =  P(no eos happened before| step) * [1 - P(eos | step)]

Here `add_mask` is P(eos | step) * P(no eos happened before| step), `not_eosed_before` is P(no eos happened bef

[2019-09-14 15:18] eugene-kharitonov commented on #33
@backpropper Does it make sense?

[2019-09-14 20:15] backpropper commented on #33
Hi, I haven't got a chance to look at it yet. Will update next week. Thanks for the clarification.

[2019-09-15 04:17] backpropper commented on #33
So here's where I'm confused:
I'm assuming the message is one hots (ST-GS).
Given a batch:
1. `add_mask` is supposed to capture the samples where eos is produced in the current step and masking the samples which have already produced an eos earlier.
2. `not_eosed_before` is supposed to capture all the samples where eos is produced in any of the previous steps

But instead of the above-expected beh

[2019-09-19 05:48] backpropper commented on #33
In other words, I'm not sure if I understand this equation correctly:
`P(no eos happened before| step + 1) = P(no eos happened before| step) * [1 - P(eos | step)]`

Lets consider the deterministic setting (one-hot messages). Why are we concerned about `P(no eos happened before| s + 1)` if an eos is already emitted at `step <= s` for ANY s \in [1, s]? i.e. the loss for a sample should be masked aft

[2019-09-26 20:33] eugene-kharitonov commented on #33
I think it is masked =) one eos happens, all following not_eosed_before would be zero, hence add_mask would always be zero, hence losses from each following step would be multiplied by zero before adding.

So let's consider three cases, one-hot vectors:
1/ No eos happened before and the current symbol is not eos, then:
 - P(no eos happened before| step) is 1
 - P(eos | step) is 0
 - add mask is 0

[2019-10-05 12:26] tomekkorbak opened #37 "Abuse of global variables in Trainer"
Trainer calls a global CLI handler on initialization:
https://github.com/facebookresearch/EGG/blob/5b422b41334214ac0d43b21f43bc0988569de469/egg/core/trainers.py#L60

In the course my work with EGG I found this design choice to be very limiting: it effectively couples the `Trainer` to pre-defined common arguments that are not universally applicable (e.g. for some complex games the experiment consis

[2019-10-05 13:10] eugene-kharitonov commented on #37
Hello @tomekkorbak !

Hm, indeed. So far we never had a need for several trainers somehow, and the current way of setting things up allows to reduce the number parameters to pass.

We could start with a compromise and decouple only a few of them. These three that you mentioned sound good to me!

Thanks!

[2019-10-05 13:14] tomekkorbak commented on #37
Great, @eugene-kharitonov, I'd be happy to work on it.

In case you're curious, here's the use case I had:
https://github.com/tomekkorbak/compositional-communication-via-template-transfer/blob/1b2d4c56d50a3016d962de7bc14c78afffa3ce6e/template_transfer/train.py#L94-L127

Overall, EGG was an enormous help to get started (and get my first NeurIPS workshop paper published, you deserve a huge thank you

[2019-10-05 13:42] eugene-kharitonov commented on #37
Awesome, congrats on the paper, well done! 💪

The trick is that we didn't know how the development of EGG (and the entire field) will go, so we decided to start as simple as possible and then re-do the parts that are too restricting for us. So your comments and suggestions are very welcome!

[2019-10-19 00:44] feipenghe opened #41 "Trouble loading data while running signal game"
Hi,
I ran into a problem of loading the h5 dataset. Previously I tried and it worked. But after I "pip install -e . ", it has a problem as below. I am NOT sure if that's the reason for it, just FYI.

<HDF5 file "ours_images_single_sm0.h5" (mode r)>
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/runpy.py", line 193, in _run_module_as_main

[2019-10-21 13:30] eugene-kharitonov commented on #41
Thanks for pointing!

[2019-10-24 16:23] backpropper opened #42 "TemperatureUpdater only defined for GumbelSoftmax"
All the GS wrappers other than Gumbel Softmax are broken if temperature updating is enabled.
[code]

[2019-10-24 16:33] eugene-kharitonov commented on #42
Could you please specify the behaviour you would expect?

[2019-10-24 16:34] backpropper opened #43 "#13 PR broke some functionality"
#13 this PR is not compatible with the changes done in #11 .
In particular, #11 expects the loss value as a tensor (which shouldn't be the case) but passing float value breaks it.

[2019-10-24 16:39] backpropper opened #44 "Example script in objects game not working"
The example command here does not seem to work:
[code]
with the possible tuples less than the total size of the dataset. Should be changed to 1e5 or less.

[2019-10-24 16:40] backpropper commented on #42
I'm saying that it gives an error since `gs_layer` is not defined for any other wrapper other than `GumbelSoftmaxWrapper`

[2019-10-24 16:46] backpropper opened #45 "Tensorboard not working"
`TensorboardLogger` callback is not added to the `core/trainers.py` file so enabling it doesn't add stuff to the `SummaryWriter`.

[2019-10-24 16:52] backpropper opened #46 "device param"
The `device` param in `core/util` should be a `torch.device` object rather than an `str` since it breaks the functionality in `core/trainers.py`.

[2019-10-24 19:07] backpropper opened #48 "enabling force_eos breaks code when using single symbol message"
enabling `force_eos` breaks code when using `max_len=1` in `RnnSenderGS` (and maybe other wrappers too) since it decreases the `max_len` to `0`. Although ideally `max_len` should be `>1` when using `RNnnSenderGS`.

[2019-10-28 19:10] eugene-kharitonov commented on #44
cc @robertodessi

[2019-10-28 19:14] #44 closed

[2019-10-28 19:22] #46 closed

[2019-10-28 19:33] #48 closed

[2019-10-29 18:40] #42 closed

[2019-10-29 18:51] eugene-kharitonov commented on #32
Should be possible now, though the sequence is still unrolled until the end.

[2019-11-08 18:08] Slowika opened #54 "CheckpointSaver does not support subdirectories"
the argument `checkpoint_dir ./models/mymodel` does not work if the `models` directory doesn't exist

[2019-11-09 09:30] eugene-kharitonov commented on #54
Thanks, @Slowika! That should be easy to fix, I'll give it a look!

[2019-11-09 11:15] #54 closed

[2019-12-18 20:25] #45 closed

[2019-12-19 12:12] eugene-kharitonov commented on #43
Seems to be fixed

[2019-12-19 12:12] #43 closed

[2020-01-13 12:08] #33 closed

[2020-01-27 16:13] robertodessi opened #61 "Saving model crashes training in channel game"
After refactoring the code with Callbacks as classes for the Trainer it seems like the channel game wasn't updated properly:
https://github.com/facebookresearch/EGG/blob/master/egg/zoo/channel/train.py#L172-L173

That line raises an exception as a trainer doesn't have a save_checkpoint method. It is needed only if we want to save the model with a custom name rather than XX.tar (with XX the number

[2020-01-27 16:14] robertodessi opened #62 "Unused parameter in channel game"
Is the dim_dateset ever used in the channel game? https://github.com/facebookresearch/EGG/blob/master/egg/zoo/channel/train.py#L23-L24

It seems like we could safely remove it

[2020-01-27 16:19] eugene-kharitonov opened #63 "Make a standard <n_attributes x n_values> datasets"
Datasets representing a cartesian product of n_attributes having n_values are used quite often. We could provide a general implementation.

[2020-01-27 16:27] eugene-kharitonov commented on #63
For starters, can be as simple as `itertools.product(*(range(n_values) for _ in range(n_attributes))`

[2020-03-26 16:19] tomekkorbak commented on #63
@eugene-kharitonov out of curiosity, what is wrong with `egg.zoo.objects_game.features.VectorsLoader`? Do you see any improvements that can be made? Or is it too complex? https://github.com/facebookresearch/EGG/blob/f6660df861c5f5999dc93a5cb54bed87d3d4810e/egg/zoo/objects_game/features.py#L15

[2020-03-26 22:14] robertodessi commented on #63
It could be improved. For instance, VectorsLoader doesn't use binary/one hot vectors which could be better (no concept of greater distance between values of the same attributes).
I was planning to refactor the code and add some features like probabilities of values for the attributes (https://github.com/robertodessi/EGG/blob/fix/egg/zoo/objects_game/features.py#L80) but it wasn't on top of my todo

[2020-03-31 17:31] eugene-kharitonov commented on #63
Hello @tomekkorbak @robertodessi ,

My intention was to have something standardised somewhere in a dedicated place - and use it in all games that require this kind of inputs.  I didn't have in mind any issues with this piece of code.

Now looking at it, I think we could use something more general though, not assuming a discrimination game with distractors? (If needed, distractors can be added on t

[2020-06-11 15:45] robertodessi opened #75 "Saving checkpoints with custom names"
Something like a custom name for model checkpointing is currently not well supported in EGG.

[This](https://github.com/facebookresearch/EGG/blob/master/egg/zoo/channel/train.py#L172-L173) can be achieved with a CheckpointSaver callback when creating the Trainer instance and passing parameters `checkpoint_path=opts.checkpoint_dir` and `prefix=f'{custom_name}'` to the CheckpointSaver instance.

How

[2020-06-12 13:59] eugene-kharitonov commented on #75
Sounds good, double-writing is a bug indeed.

[2020-06-12 19:29] #75 closed

[2020-06-14 13:34] #62 closed

[2020-06-14 13:34] #61 closed

[2020-08-05 22:57] JazminVidal opened #94 "Colab not working"
Hi all!

I've been trying to play with the MNIST example in Google Colab but it seems EGG assumes Python 3.7 or higher and Google Colab is still 3.6 :(

I'll try with an older version of the repo.

Thanks

[2020-08-06 07:59] eugene-kharitonov commented on #94
Ah, indeed, I've used a few dataclasses recently which were introduced in python3.7 =| Let me see if I can replace them with something.

Thanks for flagging!

[2020-08-06 08:02] eugene-kharitonov commented on #94
As a temporary solution: perhaps you can go a bit back in history (eg checkout EGG v1.0 tag?), where I didn't break it for python3.6 yet...

[2020-08-06 08:17] eugene-kharitonov commented on #94
Nvm, I have a small fix, will put it in later in the day. Thanks!

[2020-08-06 15:00] eugene-kharitonov commented on #94
Should be working now, thanks @JazminVidal for raising the issue!

[2020-08-06 15:03] Gromite opened #97 "Is Signaling Game Working?"
Hi, I was trying to make Signaling Game work but encountered a lot of problems trying to do so. I have the original data. Is it working? If it does, which versions of Python Torch, or other dependencies should I use?

[2020-08-06 15:36] eugene-kharitonov commented on #97
Hello @Gromite ,
It shouldn't have any dependencies apart from EGG itself. Once you installed it, it should work.

Can you share some details on what's not working? I'll have a look.

[2020-08-06 18:48] Gromite commented on #97
Thanks for your quick answer, I am new to Language Games and wanted to start with EGG. I tried to explaine the errors I encountered and steps I took.

I have Python 3.7.8, PyTorch 1.1.0 (as recommended) and CUDA 10 installed. I have an environment for EGG. I downloaded EGG via https.  Then I tried to start train.py with
`python -m egg.zoo.signal_game.train --root=/private/home/kharitonov/work/egg/

[2020-08-07 09:27] #94 closed

[2020-08-07 09:27] eugene-kharitonov commented on #94
I think it worked for me now, please re-ping if it is not the case. Thanks again!

[2020-08-07 12:10] JazminVidal commented on #94
Yes! It works :D
So happy to use it.

Just a really stupid detail, I think you repeat the lines

sender = Sender(vision, output_size=400)
receiver = Receiver(input_size=400)

when you define sender and receiver classes and in the training with
Gumble-Softmax cell. The first time with output_size=400
and the second time with output_size=10.

But, again, I'm extremely new to this and a linguist, hah

[2020-08-10 09:39] #97 closed

[2020-08-10 09:40] eugene-kharitonov commented on #97
@Gromite Hello, I think it works for me now. Can you verify? Thanks!

[2020-08-10 10:36] Gromite commented on #97
Yes, it is fixed thank you!

[2020-08-10 17:53] eugene-kharitonov commented on #94
Argh, probably. Thanks will fix later =D

[2020-08-26 12:35] #63 closed

[2020-09-26 20:16] #41 closed

[2020-09-28 16:04] eugene-kharitonov commented on #32
I don't think we'll do the rest in the nearest future, I'll close the task.

[2020-09-28 16:04] #32 closed

[2020-10-20 10:27] eugene-kharitonov opened #128 "Lengths are not passed to the RNN Encoder"
Passing an-already computed lengths of a message is a micro-optimization.

Apparently, it is lost in here:
https://github.com/facebookresearch/EGG/blob/63a9e0dae9cb72e63d9191c633d346747e45ce5b/egg/core/reinforce_wrappers.py#L300

Thanks @robertodessi for spotting!

[2020-11-05 13:28] mbaroni opened #137 "Inconsistent behaviour of max_len and length in Interaction"
max_len sets max length without considering the extra mandatory EOS at the end, however the length field in the Interaction object stores average length considering EOS. Consequently, if messages are always of maximum length, we have a somewhat surprising behaviour in which given max_len==N, the average length in the length field might be N+1

[2020-11-05 13:30] mbaroni opened #138 "undesirable behavious of find_lengths function"
def find_lengths(messages: torch.Tensor) -> torch.Tensor:
    """
    :param messages: A tensor of term ids, encoded as Long values, of size (batch size, max sequence length).
    :returns A tensor with lengths of the sequences, including the end-of-sequence symbol <eos> (in EGG, it is 0).
    If no <eos> is found, the full length is returned (i.e. messages.size(1)).

This leads to counterintuitiv

[2020-11-05 16:26] robertodessi commented on #138
Quickly thikning about I see two possible options:

1. not allowing (read raising an error/throwing and exception or returning a special value like 0 or -1) messages withouth EOS
2. considering [1, 2, 3] as length 3 and [1, 2, 0] as length 2

I have a preference for 2. but am open to discuss it

[2020-11-06 15:48] #128 closed

[2020-11-12 13:17] mbaroni opened #148 "test set and decouple training and language analysis"
### Is your proposal related to a problem?

EGG seamlessly integrate validation, but there is no straightforward way to include a test set.

### Describe the solution you'd like to have implemented

My favorite solution would be to have an easy way to save the trained agents, so that after training we can feed them arbitrary test sets.

### Describe alternatives you've considered

Perhaps the simp

[2020-11-13 13:14] mbaroni opened #149 "continuous channel game"
Both as a baseline and to consider communication more generally, we should implement a third class of wrappers to play a game where the agents directly send a continuous channel.

[2020-11-13 13:35] mbaroni opened #150 "decouple training and language analysis"
### Is your proposal related to a problem?

Right now, language analysis is implemented with callback functions that operate as part of the training process. It would be cleaner and more efficient to decouple it, performing language analysis on trained agents.

### Describe the solution you'd like to have implemented

After training, it's possible to save Sender and Receiver and query them with ne

[2020-11-13 13:36] mbaroni opened #151 "population support"
Support the possibility of playing games with multiple senders and receivers.

[2020-11-13 13:40] mbaroni opened #152 "Multiple turns games"
Support for games involving multiple exchanges between the agents.

[2020-11-13 13:58] mbaroni opened #153 "vocabulary tracking"
### Is your proposal related to a problem?

More than a problem, a minor functionality that would be handy to have: the possibility to track vocabulary usage during training.

[2020-11-13 14:01] mbaroni opened #154 "Automated post-processing of NEST output"
### Is your proposal related to a problem?

Right now, lots of work is repeated every time NEST output is post-processed.

### Describe the solution you'd like to have implemented

Design an integrated tool, nest-aggregate, that collects results and stats from egg experiments --> a.k.a. automating all the boring text file processing through python script that we do after every nest launch)

[2020-11-13 14:14] mbaroni opened #155 "Standard text format for Interaction class contents"
### Is your proposal related to a problem?

Right now, the useful logging information stored in the Interaction class is only available as a Python object. It would be good to have a standard text format for information exchange.

### Describe the solution you'd like to have implemented

Provide function printing/reading Interaction information from text file.

[2020-11-13 14:15] mbaroni commented on #155
I am not convinced that we need anything more than what we already have.

[2020-11-13 14:16] mbaroni opened #156 "Standardize naming of test/validation set in callbacks vs trainer"
In the trainer file a validation loop refers to validation data etc, in the callbacks we have a method called on_test_end. Maybe it should be named on_validation_end?

[2020-11-13 14:18] mbaroni opened #157 "Progress bar in command-line interface"
Add small progress bar that monitors train progress when using command line interface-based training in EGG.

[2020-11-13 14:18] mbaroni commented on #157
Won't this make things worse for non-interactive training?

[2020-11-13 14:19] mbaroni opened #158 "bag of words disentanglement"
Implement bag of words disentanglement from Chaabouni et al 2020

[2020-11-13 14:21] mbaroni opened #159 "Implement batch as namedtuple/dataclass object"
Implement batch as a namedtuple/dataclass object (allows more flexibility for optional fields in a batch -- use cases: task embedding and potential additional info like round embedding in a multi-round setup).

[2020-11-13 14:24] mbaroni opened #160 "Native edit distance"
### Is your proposal related to a problem?

Right now, computation of edit distance relies on editdistance pkg: we would like to get rid of this dependency.

### Describe the solution you'd like to have implemented

Implement our own edit distance function.

### Additional context

Remember this is a textbook example of a problem to be solved with dynamic programming.

[2020-11-13 14:30] robertodessi commented on #158
@Slowika once mentioned she was interested in implementing this. Any updates?

[2020-11-13 14:36] robertodessi commented on #160
I agree about the textbook problem but I think we should check for the performance of a proposed implementation. If it is computationally expensive it might be a bottleneck when computing topsim on a large {train|valid|test} set. Thus, I would drop the dependency (https://pypi.org/project/editdistance/) only if a proposed solution has "comparable" performance

[2020-11-13 14:59] robertodessi commented on #157
It could be disabled (even by default) for cluster-based runs and that should leave things as they are now

[2020-11-13 15:06] eugene-kharitonov commented on #160
I am actually not sure if it is worth the effort at all?..

[2020-11-13 15:08] mbaroni commented on #160
Changed the tag to low-priority

[2020-11-13 21:28] mbaroni opened #161 "warning in tests"
## Expected Behavior
$ pytest
...
all tests passed, no warning

## Current Behavior
$pytest
...
/private/home/mbaroni/anaconda3/envs/the_veritable_egg/lib/python3.7/site-packages/torchvision/io/video.py:2
  /private/home/mbaroni/anaconda3/envs/the_veritable_egg/lib/python3.7/site-packages/torchvision/io/video.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the mo

[2020-11-13 22:29] eugene-kharitonov commented on #161
This is coming from pytorch itself; must be already fixed in the latest version, see https://github.com/pytorch/vision/issues/1607

[2020-11-14 19:54] robertodessi commented on #161
I guess we could upgrade the req for pytorch but not really necessary for now. I would just leave it as is for now and close this

[2020-11-14 19:54] #161 closed

[2020-11-16 21:43] mbaroni opened #164 "Supporting CPC-type games"
### Is your proposal related to a problem?

Discriminative emergence games are very close to the idea of contrastive predictive coding in computer vision, and it would be cool to support code for comparative experiments in EGG, in particular along the lines of https://arxiv.org/abs/1905.09272

### Describe the solution you'd like to have implemented

Add code to support experiments with learning i

[2020-11-20 09:04] eugene-kharitonov opened #165 "Support fp16"
### Is your proposal related to a problem?

REINFORCE works best with large batch sizes; however, if you have a small GPU or use a Google Colab one, your CUDA-mem is limited.

### Describe the solution you'd like to have implemented

Support training / eval in fp16.

### Additional context
v0 implementation is as easy as calling `.half()` on the models. The trickier part is to make sure that there

[2020-11-20 09:05] eugene-kharitonov commented on #165
cc @msclar

[2020-11-30 12:26] #165 closed

[2020-11-30 16:50] eugene-kharitonov commented on #158
Wonder if it is not implemented in the paper's code?

[2020-12-02 10:21] nicofirst1 opened #169 "Custom LoggingStrategy"
## Is your proposal related to a problem?

I am working with the [coco dataset](https://cocodataset.org/#home)  and the [SenderReceiverRnnReinforce](https://github.com/facebookresearch/EGG/blob/33ee80f886af8c4652936739de534b473dc260f7/egg/core/reinforce_wrappers.py#L409) architecture in a similar fashion to the [basic game](https://github.com/facebookresearch/EGG/tree/master/egg/zoo/basic_games).

[2020-12-02 10:27] eugene-kharitonov commented on #169
Hello,

Wonder if minimal logging strategy would solve your issues?
https://github.com/facebookresearch/EGG/blob/master/egg/core/interaction.py#L44

[2020-12-02 10:30] nicofirst1 commented on #169
If i understood correctly the minimal logging strategy doesn't save anything but the message length.
I need to have some interaction saved, but cannot afford (in terms of memory) for all to be saved.

[2020-12-02 10:44] eugene-kharitonov commented on #169
Right, I see.  Typically, I'd use minimal for the training data, and would be saving more for the test data. However, I guess this might not be working if the test dataset is large, too.

Regarding the options: I would prefer containing entire filtering logic in the LoggingStrategy; but having functions is perhaps too involved. Would it work if we store a boolean in LoggingStrategy and use it to s

[2020-12-02 10:54] nicofirst1 commented on #169
Sorry I mixed the numbers up, the slowdown occurs around the 400th batch iteration (12800 images).

What kind of strategy would the subsample use?

If you're saying that it is too much work, I could do it and then pull request.

[2020-12-02 11:04] eugene-kharitonov commented on #169
I wonder if uniform subsampling would be enough?

Here https://github.com/facebookresearch/EGG/blob/master/egg/core/interaction.py#L34 , something like that in a non-working pseudo-code:
[code]

[2020-12-02 11:06] nicofirst1 commented on #169
It would work, but it's not scalable to other logic in my opinion.

What about something like this:
[code]

[2020-12-02 11:11] nicofirst1 commented on #169
You could also use `bool_filtering` as an argument of the init to allow easier subclassing, like this:

[code]

[2020-12-02 11:17] eugene-kharitonov commented on #169
That kind of would work, sure, but is it something that is needed for your use-case? Otherwise, I'd prefer to wait until we actually have a need for this: as you see it is not hard to implement, so we can do that when it is needed.

[2020-12-02 11:21] nicofirst1 commented on #169
Well, since I now need a stochastic approach it is necessary to me to have a custom logging strategy. With this implementation I could have my approach and keep compatibility with the previous versions (default_filtering excluded).

[2020-12-02 11:24] eugene-kharitonov commented on #169
Here by stochastic you mean some non-uniform subsampling of interactions?

[2020-12-02 11:26] nicofirst1 commented on #169
For now uniform is enough for me, but I will later investigate non uniform too.

[2020-12-02 11:50] nicofirst1 commented on #169
Implementing the random logging I am blocked by [this check](https://github.com/facebookresearch/EGG/blob/33ee80f886af8c4652936739de534b473dc260f7/egg/core/interaction.py#L128).

I don't quite understand why wouldn't it be ok to append empty and non-empty interactions logs.

[2020-12-02 11:55] robertodessi commented on #169
torch.cat would fail. How would you append a None tensor with a filled one? Can you remove the None/empty ones?

[2020-12-02 11:57] nicofirst1 commented on #169
By filtering out the None values everything works

[code]

[2020-12-02 11:59] robertodessi commented on #169
If we had this by default it would be missing potential cases where the game for some weird-buggy reasons is returning some empty tensors/values when it's not supposed. I don't know if it makes sense to have such filtering by default @eugene-kharitonov ?

[2020-12-02 14:07] robertodessi opened #170 "Merge posdis and bosdis"
### Is your proposal related to a problem?

Merging posdis and bos might be useful to reduce the number of callbacks to pass to the trainer (h/t @eugene-kharitonov)

### Describe the solution you'd like to have implemented

Have a singel Disent callback (optionally) computing both metrics

### Additional context

It has a very low priority. Good as a first issue for someone that wants to understan

[2020-12-03 10:45] eugene-kharitonov commented on #169
Mmm, let's get rid of this `if` branch? I don't think I put it for some strong reason, just being overly cautious.

[code]

[2020-12-03 11:46] nicofirst1 commented on #169
Would you accept a PR with [this](https://github.com/facebookresearch/EGG/issues/169#issuecomment-737861391) and the [LoggingStrategy](https://github.com/facebookresearch/EGG/issues/169#issuecomment-737160224)

[2020-12-04 14:28] eugene-kharitonov commented on #169
Thanks. Send over a PR for a review!

[2020-12-05 09:21] nicofirst1 opened #173 "Add kwargs in SenderReceiverRnnReinforce forward pass"
### Is your proposal related to a problem?
I'm working with the coco dataset which uses as label a dictionary of elements.
I would like to pass such dicts to Sender/Receiver and logger (with aux_info).

### Describe the solution you'd like to have implemented

The solution is quite easy. Just add kwargs [here](https://github.com/facebookresearch/EGG/blob/d9d027d0595b36ff02ff124d22c44a205d728457/eg

[2020-12-05 09:49] nicofirst1 commented on #173
Unfortunately my proposed solution won't work because of the shape of kwargs which will be passed as a list to the game rather than a proper dict.

## More infos
At the moment my [batch](https://github.com/facebookresearch/EGG/blob/d9d027d0595b36ff02ff124d22c44a205d728457/egg/core/trainers.py#L197) looks like this
[code]

I see two solutions here:

### Pass a dict of lists
Instead of having a list

[2020-12-08 11:11] nicofirst1 opened #175 "Add per batch Callback method"
### Is your proposal related to a problem?

It would be nice to have to option to log metrics as the epoch proceeds during the training. this is useful for those epochs which requires hours to complete.

### Describe the solution you'd like to have implemented
Maybe adding something of this kind after [this line](https://github.com/facebookresearch/EGG/blob/d9d027d0595b36ff02ff124d22c44a205d728457

[2020-12-08 12:43] robertodessi commented on #175
I don't see why not (hoping it doesn't slow down training if we have many callbacks but I'm also assuming most callbacks wouldn't use it).

However, what is the use case exactly? Are you interested in batch statistics? I don't think they can be too informative given that in EGG mean loss is optimized (see e.g. [here](https://github.com/facebookresearch/EGG/blob/d9d027d0595b36ff02ff124d22c44a205d72

[2020-12-08 12:59] nicofirst1 commented on #175
Well yes I'm interested in both my specific loss and as well as some interaction on batch level. Since a batch to me takes an hour or so it would be really useful.
Plus the callback can be used as a progress bar as for #157

[2020-12-08 14:39] robertodessi commented on #175
Regarding using the callback as a progress bar I believe it's a bit of a hacky/convoluted solution.
Regarding batch-level loss and stats I don't see the callback to be extremely useful but don't have big reasons to reject either. I'll think about it but if @eugene-kharitonov is ok with it I guess we could have it

[2020-12-08 14:43] nicofirst1 commented on #175
Idk if there is a way to have both progress bar and loss/accuracy printing with the same function/method. Callback seems to me as the closes thing to use

[2020-12-08 16:53] eugene-kharitonov commented on #175
Sounds good! What is `n_batches` in your snippet? I think Callback instance can count/resent them itself.

[2020-12-08 17:32] eugene-kharitonov commented on #175
Also I like the use of it for the progress bar =) Hacky, but in a good, modular way ❤️

[2020-12-10 09:15] robertodessi commented on #169
#177 addressed this.

[2020-12-10 09:15] #169 closed

[2020-12-10 09:27] robertodessi commented on #175
#181 and https://github.com/facebookresearch/EGG/commit/88f73b9e684f8ef483c4e0d0d93fa7834fc87ce9 added this

[2020-12-10 09:27] #175 closed

[2020-12-11 13:32] nicofirst1 commented on #175
I think we should  use the `on_batch_end` in the eval too.
And in this case should there be two different methods?
One for the training and one for the evaluation?

[2020-12-11 13:52] nicofirst1 opened #183 "TensorboardLogger writer is none"
## Expected Behavior
If the user didn't install the tensorbard lib correctly, then the [get summary](https://github.com/facebookresearch/EGG/blob/88f73b9e684f8ef483c4e0d0d93fa7834fc87ce9/egg/core/util.py#L198) should raise an error.

## Current Behavior
Right now the function prints an warning, but if you use  the [TensorboardLogger](https://github.com/facebookresearch/EGG/blob/88f73b9e684f8ef483c

[2020-12-12 07:55] nicofirst1 commented on #175
It is probably better to pass a bool to the `on_batch_end` which is true for the training and false for the evaluation

[2020-12-14 11:42] eugene-kharitonov opened #185 "SimCLR as a discrimination game"
### Is your proposal related to a problem?

Discriminating between few objects is a standard language emergence setup: Sender gets an object, sends a message, and then Receiver has to choose it among a set of distractors, based on a message.

At the same time, a somewhat similar idea is used in self-supervised learning: an Encoder net learns a representation of an image. Then another, smaller net

[2020-12-14 12:39] eugene-kharitonov commented on #185
@JadeCopet

[2020-12-22 09:41] robertodessi commented on #183
Thanks for spotting this! Feel free to open PR if you like, otherwise I'll fix it sometime next week

[2020-12-28 12:06] #183 closed

[2021-01-06 10:48] nicofirst1 opened #188 "SinusoidalPositionEmbedding lenght does not match message length"
## Expected Behavior
No errors

## Detailed Description
When using the [TransformerSenderReinforce](https://github.com/facebookresearch/EGG/blob/6f6559282777637f26497713ea2cdf22984f8b99/egg/core/reinforce_wrappers.py#L607) with [SinusoidalPositionEmbedding](https://github.com/facebookresearch/EGG/blob/6f6559282777637f26497713ea2cdf22984f8b99/egg/core/transformer.py#L16) the  training raises a runt

[2021-01-06 12:44] robertodessi commented on #188
Hi @nicofirst1 , thanks for spotting this!

The best hacky solution for you for now would be to pass _max_len+1_ as a parameter [here](https://github.com/facebookresearch/EGG/blob/6f6559282777637f26497713ea2cdf22984f8b99/egg/core/reinforce_wrappers.py#L649).

Please see loosely related issues #137 and #138

The reason we add a zero is that zero is by convention an EOS symbol in EGG. If a zero was

[2021-01-06 12:47] robertodessi commented on #158
Added in #168

[2021-01-06 12:47] #158 closed

[2021-01-06 12:51] nicofirst1 commented on #188
I removed the kwargs and still got the same error.

Are you planning to integrate this fix?

[2021-01-06 14:44] robertodessi commented on #188
It will be fixed but no ETA yet. I wouldn't change that line adding `max_len+1` since it'd be better to centralize the handling of max_len, maybe adding a `+1` in `util.py` when parsing command line args. This would require checking this doesn't break anything else. Feel free to work on it if you like otherwise we'll fix it as soon as we can

[2021-02-01 10:47] robertodessi commented on #173
After discussion in #174 I'm closing this

[2021-02-01 10:47] #173 closed

[2021-02-01 10:48] robertodessi commented on #151
Added in d438e6416fbbd38d24bbfa37984e26bca96ea127

[2021-02-01 10:48] #151 closed

[2021-02-01 10:51] robertodessi commented on #157
Added in 24c61adae6b3959e184d30a592d4001d7f89ddfd

[2021-02-01 10:51] #157 closed

[2021-02-05 18:20] eugene-kharitonov commented on #164
Seems like a near duplicate of https://github.com/facebookresearch/EGG/issues/185

[2021-02-10 17:36] robertodessi commented on #149
Added in ace483e30c99a5bc480d84141bcc6f4416e5ec2b

[2021-02-10 17:36] #149 closed

[2021-02-17 12:22] robertodessi commented on #164
Closing as it seems a duplicate. @mbaroni feel free to reopen if we are missing something

[2021-02-17 12:22] #164 closed

[2021-02-17 12:24] robertodessi commented on #155
I agree on this, I think we have enough to store and analyze interactions for now

[2021-02-17 12:24] #155 closed

[2021-03-16 10:17] robertodessi commented on #185
added in #202

[2021-03-16 10:17] #185 closed

[2021-06-03 21:18] #154 closed

[2021-06-03 21:20] robertodessi commented on #37
Closing this as it seems there has not been any recent updates. Feel free to reopen if necessary

[2021-06-03 21:20] #37 closed

[2021-06-03 21:21] robertodessi commented on #148
This would allow to perform a post-hoc language analysis decoupled from the training loop #150

[2021-06-03 21:22] robertodessi commented on #150
merging with #148

[2021-06-03 21:22] #150 closed

[2021-06-04 00:25] robertodessi opened #207 "Fix interactionSaver to handle aggregate and non-aggregate interactions in multi gpu setup"
When storing the interaction the current callback does not the case where interactions are not aggregated and training happens with multiple GPUs  https://github.com/facebookresearch/EGG/blob/master/egg/core/callbacks.py#L257-L258

## Expected Behavior
Both single- and multi-gpu training setup should work well when storing interactions

## Current Behavior
Right know, if interactions are not aggre

[2021-06-15 17:10] robertodessi commented on #207
Fixed in #210

[2021-06-15 17:10] #207 closed

[2021-06-16 09:53] robertodessi commented on #170
Fixed in #211

[2021-06-16 09:53] #170 closed

[2021-06-16 12:04] #156 closed

[2021-06-28 16:43] robertodessi opened #218 "one-hot attributes-values datasets"
Adding option for one-hot standard attributes-values

### Describe the solution you'd like to have implemented
Having a boolean option to have reconstruction and discrimination datasetas as one-hotified.
Standard game using attributes-values dataset use one-hot vector rather than discrete categorical input.  We would need to support such features with our standard attrValues EGG dataset

[2021-06-29 20:56] robertodessi commented on #159
Added in #217

[2021-06-29 20:56] #159 closed

[2021-06-29 21:38] robertodessi commented on #160
Closing this as it's probably not worth the effort

[2021-06-29 21:38] #160 closed

[2021-06-29 21:41] robertodessi commented on #188
Fixed in #219

[2021-06-29 21:41] #188 closed

[2021-07-13 09:10] robertodessi opened #222 "Fix InteractionSaver callbacks for train interactions"
https://github.com/facebookresearch/EGG/blob/master/egg/core/callbacks.py#L319

[2021-07-18 12:56] #222 closed

[2021-07-18 22:31] robertodessi opened #225 "RuntimeError with minimal logging strategy and distributed training"
When using a minimal logging strategy no fields except aux are defined in the generated interaction. If running a distributed training this causes gathering interaction to fail https://github.com/facebookresearch/EGG/blob/master/egg/core/interaction.py#L227

## Steps to Reproduce
Run a distributed training with a minimal logging strategy

[2021-11-24 22:39] robertodessi commented on #148
Changes in #232 allow to load a pretrained game and perform an evaluation loop on any user-provided data, thus decoupling training and testing

[2021-11-24 22:39] #148 closed

[2022-02-03 10:27] dmitrySorokin opened #237 "issue in MNIST tutorial"
Plot function doesn't work for ```receiver_rnn``` cause it returns n images where ```n == len(tokens)```

## Steps to Reproduce
1. run ```EGG walkthrough with a MNIST autoencoder``` untill cell # 26

## Possible Implementation
Taking last image in ```plot``` would help

[code]

[2022-02-04 08:11] dmitrySorokin commented on #237
Ok, I'll do it soon

[2022-02-25 17:17] robertodessi opened #239 "Typo in file name"
Typo in filename https://github.com/facebookresearch/EGG/blob/main/egg/core/continous_communication.py

(h/t @davidelct)

[2022-02-25 17:19] robertodessi opened #240 "Bug in dump interaction"
The function to dump interaction does not return all of them but just last one due to a typo in a variable name https://github.com/facebookresearch/EGG/blob/main/egg/core/interaction.py#L283

This function should be somehow merged with the static method in this callback https://github.com/facebookresearch/EGG/blob/main/egg/core/callbacks.py#L295-L305

(h/t @davidelct)

[2022-09-07 10:08] mitjanikolaus opened #246 "vocab_size parameter"
If I understand correctly, the [vocab_size](https://github.com/facebookresearch/EGG/blob/main/egg/core/util.py#L98) command line parameter defines the number of symbols that the agents use for communication, _including_ the EOS symbol (0). Is this intentional? Say, we want agents to communicate about 100 distinct values (and multiple attributes), intuitively we'd need  to set the vocab size to min

[2022-09-07 10:18] robertodessi commented on #246
In the case of messages of length greater than one (meaning you are using some RNN-based message generator in EGG) that should be without EOS.
We're appending EOS at the end of the generated message. https://github.com/facebookresearch/EGG/blob/main/egg/core/reinforce_wrappers.py#L343-L345
A message is generated by unrolling for max_len number of steps.

Note that the agent might send an EOS befor

[2022-09-07 12:04] mitjanikolaus commented on #246
Thanks for the very fast response! :)

Yes, I'm talking about some RNN-based message generator with length greater 1. My question is not regarding the message length, but the `vocab_size`. If one of the tokens (0) is used as EOS token, the _effective vocab size_ is actually only `vocab_size-1`, right? So if if set `vocab_size` to 100, and given that the agent wants to use the whole message length

[2022-09-07 21:29] robertodessi commented on #246
Oh yes sorry, I went straight to max_len when you were talking about the vocab_size.

Yes that's correct.
However, I think it depends whether you consider EOS as part of the vocab_size. It does carry a meaning that could/should be understood from the receiver in a communication game, hence I think it makes sense to count it as part of the vocabulary.
If you don't consider it so then yes, there are

[2022-09-08 08:42] mitjanikolaus commented on #246
Alright, yes, I it's definitely part of the vocabulary, but just kind of a special token because you can't send other tokens after it. Maybe it would be good to make this more transparent, by expanding the description of the command line argument?

E.g., like this: https://github.com/facebookresearch/EGG/commit/7520036b0bd6f900d9b38411f5f96367ccefa3aa

[2022-09-08 08:50] mitjanikolaus opened #247 "TransformerSenderReinforce max_len parameter"
The docstring of `TransformerSenderReinforce` mentions that the `max_len` parameter includes the EOS token: https://github.com/facebookresearch/EGG/blob/main/egg/core/reinforce_wrappers.py#L687

However, the transformer can create a message of `max_len` (without EOS) and the EOS token will be appended afterwards: https://github.com/facebookresearch/EGG/blob/main/egg/core/reinforce_wrappers.py#L835

[2022-09-08 09:58] robertodessi commented on #246
Sure, feel free to open a PR with this

[2022-09-08 10:01] robertodessi commented on #247
True, docstrings have not been updated after we went with the "force eos" decision. Do you want to open a PR about this as well? :)

[2022-09-08 10:03] robertodessi commented on #247
Btw, there's some known inconsistencies in egg regarding max_len, see #137 and #138, if you feel like you would want to fix it contributions are always welcome :)

[2022-09-11 10:28] mitjanikolaus commented on #247
I think these two issues are related, but require a bit more refactoring as it's not straightforward to change the behavior of `find_lengths` to return lengths that are 0 (these can't be handled by the pytorch RNN implementations)

[2022-09-12 07:38] robertodessi commented on #247
Can we assume length is always > 0 unless the input is something like an empty tensor? We do check that length is greater than one in EGG so that should not break when call `find_lenths`

[2022-09-12 07:56] mitjanikolaus commented on #247
I was referring to the solution 2 you proposed here: #138
In this case, a message starting with an EOS token would be treated as having a length of 0, which then causes issues when read by an RNN.

[2022-09-30 10:14] robertodessi commented on #247
Technically a message starting with EOS should not be accepted. How would you handle it?
We are giving the input through the receiver RNN regardless of the symbol (whether it's EOS or not) and just ignoring everything after EOS when computing the loss. Therefore, I guess the RNN implementations shouldn't fail

[2022-09-30 10:19] robertodessi commented on #246
fixed in #249

[2022-09-30 10:19] #246 closed

[2022-09-30 14:39] mitjanikolaus commented on #247
To my mind the problem is [this issue](https://github.com/pytorch/pytorch/issues/50192) in pytorch.

[2022-09-30 15:58] robertodessi commented on #247
But we'll never have a sequence of len 0. This is because
1/ we enforce max_len to be greater or equal than 1 https://github.com/facebookresearch/EGG/blob/main/egg/core/reinforce_wrappers.py#L266

2/ if the user sets max_len equals to 1 and, though unlikely, the sender generates only the EOS, we would have a message of size 2: the sender-generated EOS and the one automatically appended to each mes

[2022-10-09 06:32] mitjanikolaus commented on #247
If we consider the solution 2 you proposed here (#138), `find_lengths` would need to return `0` in case a message consists only of the EOS token. Or maybe I understood the proposal wrong?

[2022-10-10 09:50] robertodessi commented on #247
Yes, but I think this was before we appended an EOS to every message, so that proposal is outdated. Do you have anything in mind? :)

[2022-11-09 19:41] #240 closed

[2022-11-09 19:41] robertodessi commented on #239
fixed in #241

[2022-11-09 19:41] #239 closed

[2022-11-09 19:42] #218 closed

[2022-11-09 19:43] #152 closed

[2022-11-09 19:43] #153 closed